:root {
  --orange: #ff6c00;
  --white: #ffffff;
  --light-black: #9da4bd;
  --black: #303030;
  --primary-font: "Open sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

/* Stiluri pentru telefoane mobile */
@media screen and (min-width: 375px) and (max-width: 768px) {
  body {
    font-size: 14px;
    background-image: linear-gradient(
        0deg,
        rgba(28, 27, 27, 0.914),
        rgba(28, 27, 27, 0.518)
      ),
      url(../images/background-adare-restaurant.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    margin: 0;
    padding: 0;
  }

  header {
    text-align: center;
    margin-bottom: 50px;
  }

  .header__navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  .header__navigation a {
    text-decoration: none;
    color: #333;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    color: var(--white);
  }

  .header__navigation a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--white);
    transition: width 0.3s ease;
  }

  .header__navigation a:hover::after {
    width: 100%;
  }

  .title1 {
    text-align: center;
    font-size: 70px;
    color: var(--white);
    padding-top: 30px;
    margin-bottom: 30px;
  }

  .phg1 {
    text-align: center;
    color: var(--white);
  }

  main {
    height: auto;
    padding: 20px;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }

  .button {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    background-color: transparent;
    color: var(--white);
    text-transform: uppercase;
    padding: 12px 24px;
    border: 1px solid var(--orange);
    border-radius: 25px;
    cursor: pointer;
    transition-property: color, background-color, transform;
    transition-duration: 500ms, 500ms, 1s;
    margin-top: 20px;
  }

  footer p {
    text-align: center;
    font-size: 20px;
    color: var(--white);
    margin: 0;
  }

  /* Style pentru modal */
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  [data-modal] {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .is-hidden [data-modal-content] {
    transform: translate(-50%, -50%) scale(0.5);
  }

  [data-modal-content] {
    width: 300px;
    height: 581px;
    background-color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition-duration: 1s;
    padding: 40px 40px;
  }

  [data-modal-close] {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .modal-title {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23.44px;
    letter-spacing: 0.03em;
    text-align: center;
  }

  .modal-form {
    padding: 12px 0px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .modal-form__position {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 1);
    position: relative;
  }

  .modal-form__position svg {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 26px;
    left: 7px;
  }

  .modal-form__position input {
    padding-left: 30px;
  }

  .modal-form__position input:focus + svg,
  .modal-form__position input:hover + svg {
    fill: #2196f3;
  }
  .modal-form__input {
    outline: none;
    margin-top: 4px;
    border-radius: 4px;
    height: 35px;
    cursor: pointer;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 12px;
  }

  .modal-form__comments {
    outline: none;
    margin-top: 4px;
    border-radius: 4px;
    height: 35px;
    cursor: pointer;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 12px;
    padding-top: 5px;
    height: 120px;
  }

  .modal-form__input:hover,
  .modal-form__input:focus,
  .modal-form__comments:hover,
  .modal-form__comments:focus {
    border-color: #2196f3;
  }

  .modal-form__checked {
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    gap: 10px;
    justify-content: center;
  }

  .condition {
    color: #2196f3;
  }

  .modal-form__input[type="checkbox"] {
    display: none;
  }

  .modal-checkbox__position {
    position: relative;
    width: 12px;
    height: 12px;
    border: 1px solid black;
    border-radius: 2px;
  }

  .modal-form__input[type="checkbox"]:checked + .replace-checkbox {
    background-color: #2196f3;
    border-color: #2196f3;
  }

  .modal-checkbox__position svg {
    position: absolute;
    height: 12px;
    width: 12px;
    top: -1px;
    left: 0px;
    display: none;
    fill: var(--white);
  }

  .modal-form__input[type="checkbox"]:checked + .modal-checkbox__position svg {
    display: block;
  }

  .modal-form__btn {
    width: 200px;
    height: 50px;
    background-color: #2196f3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
    border-radius: 4px;
    margin: 0 auto;
  }

  footer {
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 60px;
  }

  .map-container {
    position: relative;
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 56.25%;
    margin-top: 30px;
  }

  .map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

/* Stiluri pentru tablete */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  body {
    font-size: 16px;
    background-image: linear-gradient(
        0deg,
        rgba(28, 27, 27, 0.914),
        rgba(28, 27, 27, 0.518)
      ),
      url(../images/background-adare-restaurant.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    margin: 0;
    padding: 0;
  }

  header {
    text-align: center;
    margin-bottom: 60px;
  }

  .header__navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  .header__navigation a {
    text-decoration: none;
    color: #333;
    position: relative;
    font-size: 23px;
    font-weight: bold;
    padding: 10px 0;
    color: var(--white);
  }

  .header__navigation a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--white);
    transition: width 0.3s ease;
  }

  .header__navigation a:hover::after {
    width: 100%;
  }

  .title1 {
    text-align: center;
    font-size: 50px;
    color: var(--white);
    padding-top: 50px;
  }

  .phg1 {
    text-align: center;
    color: var(--white);
    margin-top: 30px;
  }

  main {
    height: auto;
    padding: 20px;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }

  .button {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    background-color: transparent;
    color: var(--white);
    text-transform: uppercase;
    padding: 14px 28px;
    border: 1px solid var(--orange);
    border-radius: 25px;
    cursor: pointer;
    transition-property: color, background-color, transform;
    transition-duration: 500ms, 500ms, 1s;
    margin-top: 30px;
  }

  footer p {
    text-align: center;
    font-size: 24px;
    color: var(--white);
    margin: 0;
  }

  /* Style pentru modal */
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  [data-modal] {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .is-hidden [data-modal-content] {
    transform: translate(-50%, -50%) scale(0.5);
  }

  [data-modal-content] {
    width: 500px;
    height: 581px;
    background-color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition-duration: 1s;
    padding: 40px 40px;
  }

  [data-modal-close] {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .modal-title {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23.44px;
    letter-spacing: 0.03em;
    text-align: center;
  }

  .modal-form {
    padding: 12px 0px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .modal-form__position {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 1);
    position: relative;
  }

  .modal-form__position svg {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 26px;
    left: 7px;
  }

  .modal-form__position input {
    padding-left: 30px;
  }

  .modal-form__position input:focus + svg,
  .modal-form__position input:hover + svg {
    fill: #2196f3;
  }
  .modal-form__input {
    outline: none;
    margin-top: 4px;
    border-radius: 4px;
    height: 35px;
    cursor: pointer;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 12px;
  }

  .modal-form__comments {
    outline: none;
    margin-top: 4px;
    border-radius: 4px;
    height: 35px;
    cursor: pointer;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 12px;
    padding-top: 5px;
    height: 120px;
  }

  .modal-form__input:hover,
  .modal-form__input:focus,
  .modal-form__comments:hover,
  .modal-form__comments:focus {
    border-color: #2196f3;
  }

  .modal-form__checked {
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    gap: 10px;
    justify-content: center;
  }

  .condition {
    color: #2196f3;
  }

  .modal-form__input[type="checkbox"] {
    display: none;
  }

  .modal-checkbox__position {
    position: relative;
    width: 12px;
    height: 12px;
    border: 1px solid black;
    border-radius: 2px;
  }

  .modal-form__input[type="checkbox"]:checked + .replace-checkbox {
    background-color: #2196f3;
    border-color: #2196f3;
  }

  .modal-checkbox__position svg {
    position: absolute;
    height: 12px;
    width: 12px;
    top: -1px;
    left: 0px;
    display: none;
    fill: var(--white);
  }

  .modal-form__input[type="checkbox"]:checked + .modal-checkbox__position svg {
    display: block;
  }

  .modal-form__btn {
    width: 200px;
    height: 50px;
    background-color: #2196f3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
    border-radius: 4px;
    margin: 0 auto;
  }

  footer {
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 60px;
  }

  .map-container {
    position: relative;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 56.25%;
    margin-top: 40px;
  }

  .map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

/* Stiluri pentru desktop*/
@media screen and (min-width: 1200px) {
  /* Stiluri pentru desktopuri */
  @media screen and (min-width: 1024px) {
    body {
      font-size: 18px;
      background-image: linear-gradient(
          0deg,
          rgba(28, 27, 27, 0.914),
          rgba(28, 27, 27, 0.518)
        ),
        url(../images/background-adare-restaurant.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin: 0;
      padding: 0;
    }

    header {
      text-align: center;
      margin-bottom: 80px;
    }

    .header__navigation ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      gap: 20px;
      justify-content: center;
    }

    .header__navigation a {
      text-decoration: none;
      color: #333;
      position: relative;
      font-size: 23px;
      font-weight: bold;
      padding: 10px 0;
      color: var(--white);
    }

    .header__navigation a::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: var(--white);
      transition: width 0.3s ease;
    }

    .header__navigation a:hover::after {
      width: 100%;
    }

    .title1 {
      text-align: center;
      font-size: 80px;
      color: var(--white);
      padding-top: 30px;
    }

    .phg1 {
      color: var(--white);
      margin-top: 50px;
      font-size: 20px;
      display: inline-block;
    }

    .centered-paragraph {
      text-align: center;
      margin: 0 auto;
      padding: 0 10px;
      max-width: 100%;
    }

    main {
      height: auto;
      padding: 40px;
    }

    .button-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 30px 0;
    }

    .button {
      font-family: var(--primary-font);
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      background-color: transparent;
      color: var(--white);
      text-transform: uppercase;
      padding: 14px 28px;
      border: 1px solid var(--orange);
      border-radius: 25px;
      cursor: pointer;
      transition-property: color, background-color, transform;
      transition-duration: 500ms, 500ms, 1s;
      margin-top: 40px;
    }

    footer p {
      text-align: center;
      font-size: 26px;
      color: var(--white);
      margin: 0;
    }

    /* Style pentru modal */
    .is-hidden {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }

    [data-modal] {
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }

    .is-hidden [data-modal-content] {
      transform: translate(-50%, -50%) scale(0.5);
    }

    [data-modal-content] {
      width: 528px;
      height: 581px;
      background-color: var(--white);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1);
      transition-duration: 1s;
      padding: 40px 40px;
    }

    [data-modal-close] {
      position: absolute;
      top: 10px;
      right: 10px;
    }

    .modal-title {
      font-family: Roboto;
      font-size: 20px;
      font-weight: 700;
      line-height: 23.44px;
      letter-spacing: 0.03em;
      text-align: center;
    }

    .modal-form {
      padding: 12px 0px;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    .modal-form__position {
      display: flex;
      flex-direction: column;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 1);
      position: relative;
    }

    .modal-form__position svg {
      position: absolute;
      width: 18px;
      height: 18px;
      top: 26px;
      left: 7px;
    }

    .modal-form__position input {
      padding-left: 30px;
    }

    .modal-form__position input:focus + svg,
    .modal-form__position input:hover + svg {
      fill: #2196f3;
    }
    .modal-form__input {
      outline: none;
      margin-top: 4px;
      border-radius: 4px;
      height: 35px;
      cursor: pointer;
      border: 1px solid rgba(33, 33, 33, 0.2);
      padding-left: 12px;
    }

    .modal-form__comments {
      outline: none;
      margin-top: 4px;
      border-radius: 4px;
      height: 35px;
      cursor: pointer;
      border: 1px solid rgba(33, 33, 33, 0.2);
      padding-left: 12px;
      padding-top: 5px;
      height: 120px;
    }

    .modal-form__input:hover,
    .modal-form__input:focus,
    .modal-form__comments:hover,
    .modal-form__comments:focus {
      border-color: #2196f3;
    }

    .modal-form__checked {
      flex-direction: row;
      align-items: center;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.03em;
      text-align: left;
      gap: 10px;
      justify-content: center;
    }

    .condition {
      color: #2196f3;
    }

    .modal-form__input[type="checkbox"] {
      display: none;
    }

    .modal-checkbox__position {
      position: relative;
      width: 12px;
      height: 12px;
      border: 1px solid black;
      border-radius: 2px;
    }

    .modal-form__input[type="checkbox"]:checked + .replace-checkbox {
      background-color: #2196f3;
      border-color: #2196f3;
    }

    .modal-checkbox__position svg {
      position: absolute;
      height: 12px;
      width: 12px;
      top: -1px;
      left: 0px;
      display: none;
      fill: var(--white);
    }

    .modal-form__input[type="checkbox"]:checked
      + .modal-checkbox__position
      svg {
      display: block;
    }

    .modal-form__btn {
      width: 200px;
      height: 50px;
      background-color: #2196f3;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
      outline: none;
      border: none;
      cursor: pointer;
      color: var(--white);
      font-size: 16px;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: 0.06em;
      text-align: center;
      border-radius: 4px;
      margin: 0 auto;
    }

    footer {
      background-color: rgba(0, 0, 0, 0.3);
      padding-top: 20px;
      padding-bottom: 20px;
      margin-top: 60px;
    }

    .map-container {
      position: relative;
      width: 60%;
      max-width: 1000px;
      margin: 0 auto;
      padding-bottom: 56.25%;
      margin-top: 50px;
    }

    .map-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
}
